<div class="row mt-3">
  <div class="col-12">
    <img src="https://picsum.photos/700/200" alt="Recipe Name" />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>Recipe Name</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="btn-group dropdown">
      <button 
        class="btn btn-primary dropdown-toggle" 
        type="button" 
        id="manageButton" 
        data-bs-toggle="dropdown" 
        aria-expanded="false"
      >Manage Recipe</button>
      <ul class="dropdown-menu" aria-labelledby="manageButton">
        <li><a href="" class="dropdown-item">Add Ingredients to Shopping List</a></li>
        <li><a href="" class="dropdown-item">Edit Recipe</a></li>
        <li><a href="" class="dropdown-item">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    Description
  </div>
</div>

<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>